html,body{
    width:100%;
    height:100%;
}
.bg{
    background-color: aliceblue;
    width:100%;
    height:100%;
}
.queue{
    writing-mode: vertical-lr;
    height:220px;
    position: absolute;
    left:0;
    right:0;
    margin-left: 100px;
    margin-right:100px;
    overflow:auto;
    background-color:white;
}
.item{
    writing-mode: horizontal-tb;
    display:block;
    width:180px;
    height:180px;
    box-sizing: border-box;
    background-color: lightcyan;
    border-radius: 15px;
    padding:10px;
    text-align:center;
    color:orange;
    margin:10px;
}
form{
    margin-top: 300px;
    width:80%;
    background-color: cornflowerblue;
    border-radius: 15px;
    padding:20px;
    color:white;
}
form>input[name="name"]{
    display:inline-block;
    width:300px;
}